<!DOCTYPE html>
<html>
  <head>
    <% include parts/html-header.ejs %>

<script>
var socket = null;

var LoginManager = new (function() {
	var self = this;
	self.user = null;
	
	self.setSocket = function(sock) {
		self.socket = sock;
	};
	self.setUser = function(user) {
		self.user = user;
		$.cookie('login', self.user.account);
	};
	self.getUser = function() {
		return self.user;
	};
	self.isLogin = function() {
		return self.user !== null;
	};
	self.logout = function() {
		self.user = null;
		$.cookie('login', "");
	}
	return self;	
});
var PageManager = new (function() {
	var self = this;
	var $ = $ || jQuery;
	
    self.setSocket = function(sock) {
        self.socket = sock;
		self.socket.on('friends sync' , function(friends) {
			self.syncFrinedList(friends);
		});
    };	
	self.showLogin = function(type) {
		$('#page-login').show();
        $('#page-mypage').hide();
		$('#friend-list').hide();
				
		$("#page-login input[name=\"account\"]").val($.cookie("login-account-val"));
		$("#page-login input[name=\"password\"]").val("");
	};
	self.showMypage = function() {
		$('#page-login').hide();
        $('#page-mypage').show();
		
		var user = LoginManager.getUser();
		$("#page-mypage .user-name").text(user.name);
		$("#page-mypage .user-login").text(user.last_login_dt);
		$("#page-mypage .user-logout").text(user.last_logout_dt);
		
		self.showFriendList();
	};
	self.showFriendList = function() {
		if ($("#friend-list .loading").is(":visible")) {
			$("#friend-list ul" ).html("");
			$("#friend-list .loading").show();
			$("#friend-list").show();
		}
		self.socket.emit('friends fetch');
	};
	self.syncFriendList = function(friends) {
		for (var i in friends) {
			var friend = friends[i];
			$("#friend")
		}
	};
	return self;
})();

jQuery(function($) {
    $('#diary-form input[name]').each(function() {
        var $input = $(this);
        var name = $input.attr('name');
        $input.before('<div class="form-error form-error-' + name + '"></div>');
    });

	var socket = io.connect('http://' + location.host );
    socket.on('connect' , function() {
        console.log('connected.');
		$('#socket-connecting').hide();
		
		LoginManager.setSocket(socket);
		PageManager.setSocket(socket);
		
		if ($.cookie('login')) {
			socket.emit('login session' , $.cookie('login') );
		} else {
			PageManager.showLogin();
		}
		$('#login-form').submit(function() {
			var $form = $(this);
			var datas = {
				"account" : $form.find('input[name="account"]').val(),
				"password" : $form.find('input[name="password"]').val()
			};
			$.cookie("login-account-val" , datas.account, {"expire" : 365});
			$('.form-error').html('');
			socket.emit('login' , datas );
			return false;
		});
		socket.on('login error' , function(errmsg){
			$('<div />').text(errmsg).appendTo('.form-error-login');
		} );
		socket.on('login ok' , function(user) {
			LoginManager.setUser(user);
			PageManager.showMypage();
		});
		socket.on('login session error' , function(errmsg) {
			PageManager.showLogin();
		});
		socket.on('login session ok' ,function(user) {
    	    LoginManager.setUser(user);
    	    PageManager.showMypage();
		});
		$("#logout").click(function() {
			if (LoginManager.isLogin()) {
				if (! confirm ('Are you sure you want to logout?'))
					return false;
				socket.emit('logout' , LoginManager.getUser().account);
			}	
			return false;
		});
		socket.on('logout ok' , function (){
              LoginManager.logout();
              PageManager.showLogin();
		});
		socket.on('logout error' , function(errmsg) {
			alert('logout error:' + errmsg);
		});
	});
});
</script>
  </head>
  <body>
    <% include parts/header.ejs %>
	<div id="socket-connecting">
		Now Connecting... Please wait
	</div>
	<div id="page-login" style="display: none;">
		<h2>Sign In</h2>
		<form action="javascript: void(0);" method="post" id="login-form">
			<div class="form-error form-error-login"></div>
			<table border="0">
				<tr>
					<th>Account</th>
					<td><input type="text" name="account" value="" /></td>
				</tr>
                <tr>
                    <th>Password</th>
                    <td><input type="password" name="password" value="" /></td>
                </tr>
			</table>
			<input type="submit" value="Sign In" />
		</form>
	</div>
	<div id="page-mypage" style="display: none;">		
		<h2>Welcome <span class="user-name"></span></h2>
		<ul>
			<li>Last Login: <span class="user-login"></span></li>
			<li>Last Logout: <span class="user-logout"></span></li>
		</ul>
		<a href="javascript: void(0);" id="logout">Logout</a>	
	</div>

    <div id="friend-list">
        <div class="loading">Now Loading..</div>
        <ul></ul>
    </div>
    <% include parts/footer.ejs %>
  </body>
</html>
