<!DOCTYPE html>
<html>
  <head>
    <% include parts/html-header.ejs %>
  </head>
  <body>
    <% include parts/header.ejs %>
	<div id="page-regist-complete">
		登録完了しました。<br />
		<a href="/">こちらの画面からログインしてください。</a>
	</div>
    <% include parts/footer.ejs %>
  </body>
</html>
