<!DOCTYPE html>
<html>
  <head>
    <% include parts/html-header.ejs %>


<script>
jQuery(function() {
	var inputs = {};

	$('#regist-form input[name]').each(function() {
		var $input = $(this);
		var name = $input.attr('name');
		$input.before('<div class="form-error form-error-' + name + '"></div>');
		
		inputs[name] = $input;
	});

	var socket = io.connect('http://' + location.host );
	socket.on('connect' , function() {
		console.log('connected.');
	});
	$("#regist-form").submit(function() {
		var $form = $(this);
		var data = {};
		for (var name in inputs)
			data[name] = inputs[name].val();

		$('.form-error').html('');
		socket.emit('regist validate' , data);
		return false;
	});
	socket.on('regist validate error' , function(errors) {
		for (var i in errors) {
			var k = errors[i][0];
			var errmsg = errors[i][1];
			$('<div />').text(errmsg).appendTo('.form-error-' + k);
		}
	});
	socket.on('regist validate ok' , function(datas) {
		if (! confirm('入力された内容で登録してよろしいでしょうか？'))
			return;
		socket.emit('regist save' , datas);
	});
	socket.on('regist save ok' , function(user) {
		location.href = '/regist/complete'
	});
});
</script>
  </head>
  <body>
    <% include parts/header.ejs %>
    <form action="javascript: void(0);" method="post" id="regist-form">
		<div id="page-regist">
			<h2>登録</h2>
        <table border="0">
			<tr>
				<th>アカウント (3-8 半角英数)</th>
				<td><input type="text" name="account" value="" /></td>
			</tr>
            <tr>
                <th>パスワード</th>
                <td><input type="password" name="password" value="" /></td>
            </tr>
            <tr>
                <th>名前</th>
                <td><input type="text" name="name" value="" /></td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td><input type="text" name="email" value="" /></td>
            </tr>


		</table>
        <input type="submit" value="登録" />
		</div>
    </form>
    <% include parts/footer.ejs %>
  </body>
</html>
