

body,table,tr,th,td,h1,h2,h3,h4,h5,h6,dl,dt,dd,ol,ul,li,form
  margin 0
  padding 0 

body,table,tr,th,td,h1,h2,h3,h4,h5,h6
  font-family Meiryo, "メイリオ", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
  font-size 13px

table,tr,td,th
  text-align left

ol,ul,li
  list-style none
  
a
a:link
a:visibed
  color: #00B7FF

input[type="text"]
input[type="password"] 
  width 80%
  font-size 14px 
  line-height 1em
  padding 2px 4px 
  border 1px solid var-border-color
  border-radius 4px
  gradient #ccc #fff

textarea
  width 80%
  height 100px
  font-size 14px
  line-height 1.5em
  padding 2px 4px
  border 1px solid var-border-color
  border-radius 4px
  gradient #ccc #fff


input[type="button"]
input[type="submit"]
  width 80%
  max-width 200px
  font-size 14px 
  line-height 2em
  padding 0 4px
  border 1px solid var-border-color
  border-radius 4px
  background
  gradient #00e #003
  color white
  cursor pointer


.form-error div
  color red

