@charset "utf-8";
body,
table,
tr,
th,
td,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ol,
ul,
li,
form {
  margin: 0;
  padding: 0;
}
body,
table,
tr,
th,
td,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Meiryo, "メイリオ", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
  font-size: 13px;
}
table,
tr,
td,
th {
  text-align: left;
}
ol,
ul,
li {
  list-style: none;
}
a,
a:link,
a:visibed {
  color: #00b7ff;
}
input[type="text"],
input[type="password"] {
  width: 80%;
  font-size: 14px;
  line-height: 1em;
  padding: 2px 4px;
  border: 1px solid #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #ccc;
  background-image: -moz-linear-gradient(top, #ccc, #fff);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
}
textarea {
  width: 80%;
  height: 100px;
  font-size: 14px;
  line-height: 1.5em;
  padding: 2px 4px;
  border: 1px solid #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #ccc;
  background-image: -moz-linear-gradient(top, #ccc, #fff);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
}
input[type="button"],
input[type="submit"] {
  width: 80%;
  max-width: 200px;
  font-size: 14px;
  line-height: 2em;
  padding: 0 4px;
  border: 1px solid #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
background
  background-color: #00e;
  background-image: -moz-linear-gradient(top, #00e, #003);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00e), to(#003));
  color: #fff;
  cursor: pointer;
}
.form-error div {
  color: #f00;
}
#viewport {
  max-width: 640px;
  min-width: 300px;
  margin: 12px auto 0;
  padding: 12px;
  border: 1px solid #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -ms-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -o-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
}
@media only screen and (max-width:640px) {
  #viewport {
    margin: 0 12px 0;
  }
}
#header {
  border-bottom: 1px solid #999;
  padding: 0 0 8px;
}
* html #header {
  zoom: 1;
}
*+html #header {
  zoom: 1;
}
#header:after {
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
}
#header h1 {
  font-size: 15px;
  padding: 0;
  float: left;
}
#header #logout {
  float: right;
}
#page-login,
#page-regist,
#page-regist-complete,
#page-mypage {
  margin: 12px auto 0;
  padding: 12px;
  border: 1px solid #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -ms-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -o-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
}
#page-login h2,
#page-regist h2,
#page-regist-complete h2,
#page-mypage h2 {
  text-align: center;
  display: block;
  padding: 2px 10px auto;
  margin: 0 0 12px;
}
#page-login table,
#page-regist table,
#page-regist-complete table,
#page-mypage table {
  width: 100%;
}
#page-login table th,
#page-regist table th,
#page-regist-complete table th,
#page-mypage table th {
  width: 30%;
}
* html #page-mypage {
  zoom: 1;
}
*+html #page-mypage {
  zoom: 1;
}
#page-mypage:after {
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
}
#page-mypage .user-photo {
  float: left;
  margin-right: 8px;
}
#friend-list {
  margin: 12px auto 0;
  padding: 12px;
  border: 1px solid #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -ms-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -o-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
}
* html #friend-list ul {
  zoom: 1;
}
*+html #friend-list ul {
  zoom: 1;
}
#friend-list ul:after {
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
}
#friend-list ul li {
  display: inline-block;
  margin: 4px;
  padding: 8px;
  width: 124px;
  border: 1px solid #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -ms-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -o-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
}
#friend-list ul li .friend-account,
#friend-list ul li .friend-name,
#friend-list ul li .friend-status {
  display: inline-block;
}
#page-tweets #tweet-form {
  margin: 12px auto 0;
  padding: 12px;
  border: 1px solid #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -ms-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -o-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
}
#page-tweets #tweet-form ul.tweet-colors li {
  display: inline-block;
}
#page-tweets #tweet-form ul.tweet-colors li span {
  font-size: 16px;
}
#page-tweets #tweet-list {
  margin: 12px auto 0;
  padding: 12px;
  border: 1px solid #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -ms-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  -o-box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
}
#page-tweets #tweet-list li {
  border-bottom: 1px solid #999;
}
* html #page-tweets #tweet-list li {
  zoom: 1;
}
*+html #page-tweets #tweet-list li {
  zoom: 1;
}
#page-tweets #tweet-list li:after {
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
}
#page-tweets #tweet-list li:last-child {
  border-bottom: none;
}
#page-tweets #tweet-list li .user-photo {
  float: left;
  margin-left: 8px;
  height: auto;
  border: none;
}
#page-tweets #tweet-list li .tweet-time {
  text-align: right;
  font-size: 10px;
  color: #999;
}
.user-photo {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid #bbb;
  padding: 10px;
}
.user-photo img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}
