    <div id="viewport">
	  <div id="header">
	      <h1><%= title %></h1>
		  <div id="mypage-menu" style="display: none;">
			  <a id="logout" href="javascript: void(0);">ログアウト</a>
		  </div>
	  </div>
