	
	<meta charset="utf-8" />
	<meta name="language" content="ja_JP" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>sns</title>
    <link rel='stylesheet' href='/css/style.css' />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	
	<script src="/js/jquery-1.7.2.min.js"></script>
	<script src="/js/jquery.tmpl.min.js"></script>
	<script src="/js/jquery.dump.js"></script>
	<script src="/js/jquery.cookie.js"></script>
	<script src="/js/common.js"></script>
	<script src="/socket.io/socket.io.js"></script>

